/* styles.css */

/* Targeting an HTML element with a specific ID */
#body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
}

#header {
  font-size: 24px;
  font: bold;
}

/* Targeting HTML elements with a specific class */
.content {
  font-size: 16px;
  line-height: 1.5;
}

/* Targeting specific HTML elements */
pre {
max-width: 90%;
white-space: pre-wrap;
}
